In [1]:
conda install -c anaconda requests

Note: you may need to restart the kernel to use updated packages.

usage: _conda.exe [-h] [-V] command ...
_conda.exe: error: argument command: invalid choice: 'C:\\Users\\andre\\anaconda3\\Scripts\\conda-script.py' (choose from 'clean', 'compare', 'config', 'create', 'help', 'info', 'init', 'install', 'list', 'package', 'remove', 'uninstall', 'run', 'search', 'update', 'upgrade')

In [2]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


schools = {   
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035    
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [3]:
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)

ironhack
app-academy
springboard

In [4]:
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,createdAt,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
0,276568,Guilherme golabek brein,False,None,2018.0,False,Senior Associate,Improper billing,"<span class=""truncatable""><p></p><p>A year aft...",4/30/2021,2021-04-30,Web Development Part-Time,{'image': None},1.0,[],1.0,1.0,1.0,"A year after completing my course, ironhack co...",ironhack
1,276147,Charlotte Urvoy,False,None,2021.0,False,UX UI Designer,Riche et pragmatique,"<span class=""truncatable""><p></p><p>- La métho...",4/20/2021,2021-04-20,UX/UI Design Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,- La méthode d'apprentissage est l'une des mei...,ironhack
2,275972,Anonymous,True,None,2021.0,False,,Amazing experience,"<span class=""truncatable""><p></p><p>the UX/UI ...",4/17/2021,2021-04-17,UX/UI Design Bootcamp,{'image': None},4.0,[],5.0,4.0,3.0,the UX/UI bootcamp has been an amazing learnin...,ironhack
3,275872,Ahmad Khalaf,False,None,2021.0,False,Product Designer,Intense but good experience,"<span class=""truncatable""><p></p><p>When I sta...",4/15/2021,2021-04-15,UX/UI Design Bootcamp,{'image': None},4.0,[],4.0,4.0,4.0,When I started I was a little disappointed but...,ironhack
4,275855,Morgane Favchtein,False,None,2021.0,False,UX UI Designer,Very nice experience !,"<span class=""truncatable""><p></p><p>The UX UI ...",4/14/2021,2021-04-14,UX/UI Design Bootcamp,{'image': None},4.3,[],5.0,4.0,4.0,The UX UI Design bootcamp is a great way to tr...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,234894,Stephanie S.,False,None,2015.0,True,Website Manager-UX Lead,Excellent and comprehensive UX course,"<span class=""truncatable""><p>The UX Design Wor...",12/15/2016,2016-12-15,UX Design,{'image': None},5.0,[],5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard
906,234877,Joe Fang,False,None,2015.0,True,UX Designer,Springboard helped me start my career in UX,"<span class=""truncatable""><p>Just some backgro...",12/15/2016,2016-12-15,UX Design,{'image': None},5.0,[],5.0,5.0,5.0,"Just some background information on myself, I ...",springboard
907,234838,Zeina,False,None,2016.0,True,Senior Graphic Designer,Highly recommended,"<span class=""truncatable""><p>I enjoyed the pro...",12/15/2016,2016-12-15,UX Design,{'image': None},3.7,[],4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard
908,242681,Jean,False,None,2016.0,True,Lead Designer/Creative Director,A way to stay current for the highly motivated!,"<span class=""truncatable""><p>This was my first...",12/12/2016,2016-12-12,UX Design,{'image': None},5.0,[],5.0,5.0,5.0,This was my first online experience and it did...,springboard
909,234178,Ben,False,None,2016.0,True,None,Springboard is an excellent course for self dr...,"<span class=""truncatable""><p>I really enjoyed ...",12/10/2016,2016-12-10,UX Design,{'image': None},4.7,[],5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard

In [12]:
comments.drop(['hostProgramName', 'user', 'comments', 'createdAt', 'queryDate'], axis = 1, inplace = True)

# removed useless columns

KeyError: "['hostProgramName' 'user' 'comments' 'createdAt' 'queryDate'] not found in axis"

In [21]:
comments['body'] = comments['body'].str.replace('<span class="truncatable"><p></p><p>', '')
comments['body'] = comments['body'].str.replace('<span class="truncatable"><p>', '')
comments['body'] = comments['body'].str.replace('<p>', '')

# cleaned some strings

In [51]:
comments

,id,name,anonymous,graduatingYear,isAlumni,jobTitle,tagline,body,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,276568,Guilherme golabek brein,False,2018.0,False,Senior Associate,Improper billing,"A year after completing my course, ironhack co...",Web Development Part-Time,1.0,1.0,1.0,1.0,"A year after completing my course, ironhack co...",ironhack
1,276147,Charlotte Urvoy,False,2021.0,False,UX UI Designer,Riche et pragmatique,- La méthode d'apprentissage est l'une des mei...,UX/UI Design Bootcamp,5.0,5.0,5.0,5.0,- La méthode d'apprentissage est l'une des mei...,ironhack
2,275972,Anonymous,True,2021.0,False,,Amazing experience,the UX/UI bootcamp has been an amazing learnin...,UX/UI Design Bootcamp,4.0,5.0,4.0,3.0,the UX/UI bootcamp has been an amazing learnin...,ironhack
3,275872,Ahmad Khalaf,False,2021.0,False,Product Designer,Intense but good experience,When I started I was a little disappointed but...,UX/UI Design Bootcamp,4.0,4.0,4.0,4.0,When I started I was a little disappointed but...,ironhack
4,275855,Morgane Favchtein,False,2021.0,False,UX UI Designer,Very nice experience !,The UX UI Design bootcamp is a great way to tr...,UX/UI Design Bootcamp,4.3,5.0,4.0,4.0,The UX UI Design bootcamp is a great way to tr...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,234894,Stephanie S.,False,2015.0,True,Website Manager-UX Lead,Excellent and comprehensive UX course,The UX Design Workshop gave me a great underst...,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard
906,234877,Joe Fang,False,2015.0,True,UX Designer,Springboard helped me start my career in UX,"Just some background information on myself, I ...",UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard
907,234838,Zeina,False,2016.0,True,Senior Graphic Designer,Highly recommended,"I enjoyed the program very much, gained a lot ...",UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard
908,242681,Jean,False,2016.0,True,Lead Designer/Creative Director,A way to stay current for the highly motivated!,This was my first online experience and it did...,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard
909,234178,Ben,False,2016.0,True,None,Springboard is an excellent course for self dr...,I really enjoyed my time with the Springboard ...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard

In [5]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

<ipython-input-5-ada7bc74fd3a>:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  locations_df = json_normalize(locations)

app-academy
springboard

In [6]:
locations_list

[      id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id                       description  country.id   country.name  \
 0  15704  San Francisco, CA, United States         1.0  United States
 1  15705  New York City, NY, United States         1.0  United States
 2  15862                            Online         NaN            NaN

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US         6  California           CA    california     13.0
 1             US        34    New York           NY      new-york   1507.0
 2            NaN         1      Online       Online        online      NaN

        city.name   city.keyword       school  school_id
 0  San Francisco  san-francisco  app-academy      10525
 1            NYC  new-york-city  app-academy      10525
 2            NaN            NaN  app-academy      10525  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ]

In [7]:
locations = pd.concat(locations_list)
locations

,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,NaN,NaN,NaN,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,ironhack,10828
5,16375,"Miami, FL, United States",1.0,United States,US,31.0,Miami,miami,11.0,Florida,FL,florida,ironhack,10828
6,16376,"Madrid, Spain",12.0,Spain,ES,31052.0,Madrid,madrid,NaN,NaN,NaN,NaN,ironhack,10828
7,16377,"Barcelona, Spain",12.0,Spain,ES,31170.0,Barcelona,barcelona,NaN,NaN,NaN,NaN,ironhack,10828
8,16709,"Lisbon, Portugal",28.0,Portugal,PT,31075.0,Lisbon,lisbon,NaN,NaN,NaN,NaN,ironhack,10828
9,17233,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,ironhack,10828
0,15704,"San Francisco, CA, United States",1.0,United States,US,13.0,San Francisco,san-francisco,6.0,California,CA,california,app-academy,10525
1,15705,"New York City, NY, United States",1.0,United States,US,1507.0,NYC,new-york-city,34.0,New York,NY,new-york,app-academy,10525
2,15862,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,app-academy,10525
0,16013,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,springboard,11035

In [26]:
locations.rename(columns= {'country.id': 'country_id', 'country.name': 'country_name', 'country.abbrev': 'country_abbrev', 'city.id': 'city_id', 'city.name' : 'city_name', 'city.keyword': 'city_keyword'}, inplace = True)

# renamed columns with 'dots' with '_' to make it easier to call in mysql

In [49]:
locations.drop(['state.id', 'state.name', 'state.abbrev', 'state.keyword'], axis =1, inplace = True)

# removed useless columns

In [61]:
locations['country_name'].fillna('Online', inplace = True)
locations['country_id'].fillna('Online', inplace = True)
locations['country_abbrev'].fillna('Online', inplace = True)
locations['city_id'].fillna('Online', inplace = True)
locations['city_name'].fillna('Online', inplace = True)
locations['city_keyword'].fillna('Online', inplace = True)

# renamed all null values with Online

In [62]:
locations

,id,description,country_id,country_name,country_abbrev,city_id,city_name,city_keyword,school,school_id
0,15901,"Berlin, Germany",57,Germany,DE,31156,Berlin,berlin,ironhack,10828
1,16022,"Mexico City, Mexico",29,Mexico,MX,31175,Mexico City,mexico-city,ironhack,10828
2,16086,"Amsterdam, Netherlands",59,Netherlands,NL,31168,Amsterdam,amsterdam,ironhack,10828
3,16088,"Sao Paulo, Brazil",42,Brazil,BR,31121,Sao Paulo,sao-paulo,ironhack,10828
4,16109,"Paris, France",38,France,FR,31136,Paris,paris,ironhack,10828
5,16375,"Miami, FL, United States",1,United States,US,31,Miami,miami,ironhack,10828
6,16376,"Madrid, Spain",12,Spain,ES,31052,Madrid,madrid,ironhack,10828
7,16377,"Barcelona, Spain",12,Spain,ES,31170,Barcelona,barcelona,ironhack,10828
8,16709,"Lisbon, Portugal",28,Portugal,PT,31075,Lisbon,lisbon,ironhack,10828
9,17233,Online,Online,Online,Online,Online,Online,Online,ironhack,10828
0,15704,"San Francisco, CA, United States",1,United States,US,13,San Francisco,san-francisco,app-academy,10525
1,15705,"New York City, NY, United States",1,United States,US,1507,NYC,new-york-city,app-academy,10525
2,15862,Online,Online,Online,Online,Online,Online,Online,app-academy,10525
0,16013,Online,Online,Online,Online,Online,Online,Online,springboard,11035

In [8]:
courses = pd.concat(courses_list)
courses.head(10)

                              courses       school  school_id
0             Cyber Security Bootcamp     ironhack      10828
1             Data Analytics Bootcamp     ironhack      10828
2            Data Analytics Part-Time     ironhack      10828
3               UX/UI Design Bootcamp     ironhack      10828
4              UX/UI Design Part-Time     ironhack      10828
5            Web Development Bootcamp     ironhack      10828
6           Web Development Part-Time     ironhack      10828
0                       Bootcamp Prep  app-academy      10525
1  Software Engineer Track: In-Person  app-academy      10525
2                    App Academy Open  app-academy      10525

In [37]:
badges = pd.concat(badges_list)


badges['description'] = badges['description'].str.replace('<p>', '')

badges['description'] = badges['description'].str.replace('</p>', '')

badges

,name,keyword,description,school,school_id
0,Available Online,available_online,School offers fully online courses,ironhack,10828
1,Verified Outcomes,verified_outcomes,School publishes a third-party verified outcom...,ironhack,10828
2,Flexible Classes,flexible_classes,School offers part-time and evening classes,ironhack,10828
0,Available Online,available_online,School offers fully online courses,app-academy,10525
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,app-academy,10525
2,Job Guarantee,job_guarantee,School guarantees job placement,app-academy,10525
0,Available Online,available_online,School offers fully online courses,springboard,11035
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,springboard,11035
2,Job Guarantee,job_guarantee,School guarantees job placement,springboard,11035

In [48]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)


schools['description'] = schools['description'].str.replace('<span class="truncatable"><p>', '')
schools['description'] = schools['description'].str.replace('<span class="read-more-text">', '')
schools['description'] = schools['description'].str.replace('<a class="read-more-button">', '')
schools['description'] = schools['description'].str.replace('</span></p><p>', '')
schools['description'] = schools['description'].str.replace('</p><p>', '')

# # cleaned some strings


schools

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,Ironhack is a global tech school with 9 campus...,https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,App Academy is a coding school that offers onl...,https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,Springboard is an online learning platform tha...,https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035

In [63]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\andre\anaconda3\lib\site-packages (8.0.24)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: protobuf>=3.0.0 in c:\users\andre\anaconda3\lib\site-packages (from mysql-connector-python) (3.16.0)
Requirement already satisfied: six>=1.9 in c:\users\andre\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [64]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\andre\anaconda3\lib\site-packages (1.0.2)Note: you may need to restart the kernel to use updated packages.

In [65]:
import mysql.connector

In [66]:
import pymysql

In [67]:
cnx = mysql.connector.connect(user = 'root', password = 'Emilio87!', host = 'localhost')

In [68]:
cnx.is_connected()

True

In [69]:
cursor = cnx.cursor()

In [70]:
query = ("""CREATE DATABASE Project;""")  #### creating a new database in sql

cursor.execute(query)

In [71]:
from sqlalchemy import create_engine

In [72]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Emilio87!",
                               db="Project"))

In [73]:
comments.to_sql('comments', con = engine, if_exists = 'append', chunksize = 1000)

In [74]:
locations.to_sql('locations', con = engine, if_exists = 'append', chunksize = 1000)

In [75]:
courses.to_sql('courses', con = engine, if_exists = 'append', chunksize = 1000)

In [76]:
badges.to_sql('badges', con = engine, if_exists = 'append', chunksize = 1000)

In [77]:
schools.to_sql('schools', con = engine, if_exists = 'append', chunksize = 1000)

In [78]:
cnx.commit()

In [79]:
cursor.close()
cnx.close()

In [80]:
cnx.is_connected()

False